@import "grid";
@import "header";
@import "slider";
@import "circles";
@import "first-section";

.page-title {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section {
    font-size: 18px;
}